body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 20px;
}

a {
  text-decoration: none;
}

.search-bar {
  height: 39px;
  width: 690px;
  padding-right: 10px;
  padding-left: 20px;
  border-radius: 100px;
  box-shadow: 0 3px 5px 1px rgb(196, 196, 196);
  margin-left: 20px;
}

.search-bar input {
  border: none;
  margin-top: 10px;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
}

nav {
  margin-left: 160px;
}

nav a {
  color: rgb(95, 95, 95);
  font-size: 14px;
}

.right-align {
  margin-left: auto;
}

.right-align img {
  color: rgb(95, 95, 95);
}

main {
  margin-left: 160px;
  max-width: 690px;
}

.search-count {
  color: rgb(95, 95, 95);
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
}

.url {
  color: black;
  font-weight: 300;
}

.description {
  color: rgb(95, 95, 95);
  font-weight: 400;
  margin-bottom: 1px;
}

.headings {
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: -12px;
}

.headings:hover {
  text-decoration: underline;
}
